<div>
  <p-table [value]="cars"><!-- cars is the variable under FilterTableComponent -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="brand">Brand</th>
        <th pSortableColumn="year">Year</th>
        <th pSortableColumn="color">Color</th>
        <th pSortableColumn="price">Price</th>
      </tr>
      <tr>
        <th>
          <app-filter-widget
            type="text" 
            field="brand" 
          ></app-filter-widget>
        </th>
        <th>
          <app-filter-widget
            type="numeric" 
            field="year" 
          ></app-filter-widget>
        </th>        <th>
          <app-filter-widget
            type="text" 
            field="color" 
          ></app-filter-widget>
        </th>        <th>
          <app-filter-widget
            type="numeric" 
            field="price" 
          ></app-filter-widget>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{car.brand}}</td>
        <td>{{car.year}}</td>
        <td>{{car.color}}</td>
        <td>{{car.price}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>