<div>
  <!-- 
  cars is the variable under FilterTableComponent
  <p-table> will iterate over the variable that is assigned to [value] and pass each
  element to <ng-template pTemplate="body" let-xxxx>
  the 'let-xxxx' syntax is used to declare a template variable, 
  the name of the variable doesn't matter
  > -->
  <p-table [value]="cars">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="brand">Brand</th>
        <th pSortableColumn="year">Year</th>
        <th pSortableColumn="color">Color</th>
        <th pSortableColumn="price">Price</th>
      </tr>
      <tr>
        <th>
          <app-filter-widget
            type="text" 
            field="brand" 
          ></app-filter-widget>
        </th>
        <th>
          <app-filter-widget
            type="numeric" 
            field="year" 
          ></app-filter-widget>
        </th>        <th>
          <app-filter-widget
            type="text" 
            field="color" 
          ></app-filter-widget>
        </th>        <th>
          <app-filter-widget
            type="numeric" 
            field="price" 
          ></app-filter-widget>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <!-- order only matters to UI, doesn't matter to filter -->
        <td>{{car.brand}}</td>
        <td>{{car.year}}</td>
        <td>{{car.color}}</td>
        <td>{{car.price}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>